<!--
Source - https://stackoverflow.com/a
Posted by NitroPan, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-24, License - CC BY-SA 4.0
-->

{%- assign page_paths = site.header_pages | default: default_paths -%}

...

{%- for path in page_paths -%}
    {%- assign my_page = site.pages | where: "path", path | first -%}
    {%- if my_page.title -%}
        <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
    {%- endif -%}
{%- endfor -%}

