---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-header {
  border-top:5px solid #424242;
  border-bottom:1px solid #e8e8e8;
  min-height:55.95px;
  line-height:54px;
  position:relative;
    background:#f39f00
}
